body {
  margin:10px;
  height:100vh;
  display:block;
  align-items:center;
  justify-content:center;
  background:#ddd;
}

h1 {
  margin: 10px;
  font-family: monospace;
  color: black;
}

h2 {
  margin: 10px;
  color: black;
}

p {
  color: black;
}
